.popover{
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    list-style: none;
    padding: 20px;
    position: absolute;
    top: 54px;
    display: none;
}   
.popover li{
    padding-left: 40px;
}

.amenities:hover{
    .popover{
        display: block;
    }
}

.states{
    background-color: #FAFAFA;
    width: 83.7%;
    border: 1px solid #DDDDDD;
    list-style: none;
    padding: 20px;
    position: absolute;
    top: 54px;
    display: none;
}

.states h2{
    margin-bottom: 0;
    font-size: 16px;
}

.locations:hover{
    .states{
        display: block;
    }
}